* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;

}

body{
    background-image: url("img/pokemon-bg.jpg");
    background-size: cover;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100px;
    background-color: rgba(218, 216, 216, 0.651);
    margin: 0 auto;
    margin-bottom: 24px;
    border-radius: 15px;
}

.header img {
    height: 80px;
    margin: 8px;
}

.search-bar {
height: 45%;
width: 35%;
border-radius: 15px;
margin-right: 24px;
padding: 16px;
font-size: 16px;
}
    
.logo {
    height: 50px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    
}
.loadbutton {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
/* Pokecard Start*/

.pokecard {
    width: 200px;
    height: 350px;
    box-shadow: 2px 2px 5px 2px black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;    
    
}

.pokecard-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-weight: 600;
}

.pokecard-top { 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.pokecard-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    background-color: rgb(243, 239, 239 );
    border-radius: 24px 24px 8px 8px;
    background-image: url("img/pokeball-transparent.png");
    background-size: cover;
    background-position: 75% 50%;
    background-blend-mode: lighten;
}

.poke-id {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    margin-right: 16px;
}

.poke-img {
    height: 150px;    
}

.type {
    padding: 4px 8px 4px 8px;
    border-radius: 16px 16px;
    
}

.types {
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap:8px;
    font-weight: 600;
}

/* Pokecard Ende */

.normal {
    background-color: #a19f29;
} 
.fire {
    background-color: #EE8130;
} 
.water {
    background-color: #2a57b8;
} 
.electric {
    background-color: #bd9a12;
} 
.grass {
    background-color: #54aa22;
} 
.ice {
    background-color: #60d1cb;
} 
.fighting {
    background-color: #a51914;
} 
.poison {
    background-color: #a02a9e;
} 
.ground {
    background-color: #e0b64b;
} 
.flying {
    background-color: #633ad3;
} 
.psychic {
    background-color: #df1b55;
} 
.bug {
    background-color: #677408;
} 
.rock {
    background-color: #aa921a;
} 
.ghost {
    background-color: #653a9c;
} 
.dragon {
    background-color: #5b1ef7;
} 
.dark {
    background-color: #7c5337;
} 
.steel {
    background-color: #7e7ec4;
} 
.fairy {
    background-color: #b35986;
} 
